.portfolio-container {
    padding: 20px;
    background-color: #202940;
    color: #fff;
  }
  
  .portfolio-container h1 {
    text-align: center;
    color: #f4d03f;
  }
  
  .portfolio-container h2 {
    color: #f4d03f;
    margin-bottom: 10px;
  }
  
  .portfolio-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .portfolio-container li {
    margin: 10px 0;
  }
  
  .portfolio-container a {
    color: #f4d03f;
    text-decoration: none;
  }
  
  .portfolio-container a:hover {
    text-decoration: underline;
  }